html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.layout {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.toolbar {
    height: 35px;
    flex-shrink: 0;
    background-color: var(--vscode-tab-activeBackground);
    border-bottom: 1px solid var(--vscode-editorGroup-border);
}

.toolbar ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.toolbar ul li {
    display: inline-block;
}

.preview {
    flex-grow: 1;

    display: flex;
    align-items: center;
    overflow: auto;

    background-position: 0 0,8px 8px;
    background-size: 16px 16px;
}

.preview.dark {
    background-image: linear-gradient(45deg,#141414 25%,transparent 0,transparent 75%,#141414 0,#141414),linear-gradient(45deg,#141414 25%,transparent 0,transparent 75%,#141414 0,#141414);
}

.preview.light {
    background-image: linear-gradient(45deg,#e6e6e6 25%,transparent 0,transparent 75%,#e6e6e6 0,#e6e6e6),linear-gradient(45deg,#e6e6e6 25%,transparent 0,transparent 75%,#e6e6e6 0,#e6e6e6);
}

.preview img {
    margin: auto;
}

/*

body {
    background-position: 0 0,8px 8px;
    background-size: 16px 16px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

body.zoom-in {
    cursor: zoom-in;
}

body.zoom-out {
    cursor: zoom-out;
}

body.vscode-dark {
    background-image: linear-gradient(45deg,#141414 25%,transparent 0,transparent 75%,#141414 0,#141414),linear-gradient(45deg,#141414 25%,transparent 0,transparent 75%,#141414 0,#141414);
}

body.vscode-light {
    background-image: linear-gradient(45deg,#e6e6e6 25%,transparent 0,transparent 75%,#e6e6e6 0,#e6e6e6),linear-gradient(45deg,#e6e6e6 25%,transparent 0,transparent 75%,#e6e6e6 0,#e6e6e6);
}

img {
    display: block;
    user-select: none;
    flex-shrink: 0;
    margin: auto;
}

.error-container {
    white-space: nowrap;
    user-select: none;
    flex-shrink: 0;
    margin: auto;
    display: flex;
    align-items: center;
}

.error-container > div {
    flex-shrink: 0;
    padding-right: 15px;
}

.error-container img {
    padding-right: 10px;
    padding-left: 15px;
} */