html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.layout {
    height: 100%;
    display: flex;
    flex-direction: column;
}

button {
    cursor: pointer;
}

button[disabled] {
    cursor: auto;
} 

.toolbar {
    height: 35px;
    flex-shrink: 0;
    background-color: var(--vscode-tab-activeBackground);
    border-bottom: 1px solid var(--vscode-editorGroup-border);
    display: flex;
    align-items: center;
}

.toolbar .btn-group, .toolbar .bg-group {
    margin-left: 4px;
}

.toolbar .size {
    margin-left: auto;
    margin-right: 8px;
}

.toolbar .bg-group {
    display: flex;
    align-items: center;
}

.toolbar .bg {
    width: 22px;
    height: 22px;
    margin: 1px;
    outline: none;
    
    border: 1px solid var(--vscode-editorGroup-border);
    border-radius: 50%;

    background-color: transparent;
    background-position: 0 0, 4px 4px;
    background-size: 8px 8px;

}

.toolbar .bg.transparent {
    background-color: var(--vscode-editor-background);
}

.toolbar .bg.selected {
    border-width: 2px; /* TODO: implement */
}

.preview {
    flex-grow: 1;

    display: flex;
    align-items: center;
    overflow: auto;

    background-position: 0 0,8px 8px;
    background-size: 16px 16px;
}

body.vscode-high-contrast .preview.dark,
body.vscode-high-contrast .toolbar .bg.dark,
body.vscode-dark .preview.dark,
body.vscode-dark .toolbar .bg.dark {
    background-image: linear-gradient(45deg,#141414 25%,transparent 0,transparent 75%,#141414 0,#141414),linear-gradient(45deg,#141414 25%,transparent 0,transparent 75%,#141414 0,#141414);
}

body.vscode-high-contrast .preview.light,
body.vscode-high-contrast .toolbar .bg.light,
body.vscode-dark .preview.light,
body.vscode-dark .toolbar .bg.light {
    background-image: linear-gradient(45deg,#e6e6e6 25%,transparent 0,transparent 75%,#e6e6e6 0,#e6e6e6),linear-gradient(45deg,#e6e6e6 25%,#fff 0,#fff 75%,#e6e6e6 0,#e6e6e6);
}


body.vscode-light .preview.dark,
body.vscode-light .toolbar .bg.dark {
    background-image: linear-gradient(45deg,#141414 25%,transparent 0,transparent 75%,#141414 0,#141414),linear-gradient(45deg,#141414 25%,#1e1e1e 0,#1e1e1e 75%,#141414 0,#141414);
}

body.vscode-light .preview.light,
body.vscode-light .toolbar .bg.light {
    background-image: linear-gradient(45deg,#e6e6e6 25%,transparent 0,transparent 75%,#e6e6e6 0,#e6e6e6),linear-gradient(45deg,#e6e6e6 25%,transparent 0,transparent 75%,#e6e6e6 0,#e6e6e6);
}

.preview img {
    margin: auto;
    user-select: none;
}

.error-container {
    white-space: nowrap;
    user-select: none;
    flex-shrink: 0;
    margin: auto;
    display: flex;
    align-items: center;
}

.error-container > div {
    flex-shrink: 0;
    padding-right: 15px;
}

.error-container img {
    padding-right: 10px;
    padding-left: 15px;
}
